.jumbotron {
  padding-top: 5rem;
  background-color: #fefae0;
}

.polisi {
  background-color: #faedcd;
}

#projects {
  background-color: #fefae0;
}

footer {
  background-color: #faedcd;
}

section {
  padding-top: 5rem;
}
